{% extends "base.html" %}
{% load staticfiles %}

{% block extend_style %}
	<link href="/static/css/css/bootstrap.min.css" rel="stylesheet"> 
{% endblock %}

{% block menu %}
	<li><div class="menu"><a href={% url "index" %}>Главная</a></div></li>
	<li><div class="menu"><a href={% url "study" %}>Учеба</a></div class="menu"></li>
	<li><div class="menu"><a href={% url "work" %}>Работа</a></div></li>
	<li><div class="menu"><a href={% url "contact:index" %}>Контакты</a></div></li>	
{% endblock %}

{% block content %}
    <p>{{ value|date:"D d M Y P" }}</p>	
	<div class="foto"><img src = "{% static 'img/bonus.jpg'%}" alt="Упс" title="Фото"></div>
		</div>
	<button type="button" class="btn btn-primary btn-lg btn-block">Перейти на сторону темной силы?</button>
	<button type="button" class="btn btn-default btn-lg btn-block">Отказаться</button>
{% endblock %}	
