{% extends "base.html" %}
{% load staticfiles %}

{% block menu %}

	<li><div class="menu"><a href="/study">Учеба</a></div class="menu"></li>
	<li><div class="menu"><a href="/work">Работа</a></div></li>
	<li><div class="menu"><a href="/bonus">Бонус</a></div></li>
{% endblock %}

{% block content %}
	<!-- <div class="welcome"><h1>Добро пожаловать на хитовый сайт!</h1></div> -->
	<div class="foto"><img src="{% static 'img/Its_me.png'%}" alt="Упс" title="Фото"></div>

	<p class="content_name">{{name|title}} <br> {{second_name|title}}</p>
	<!-- <hr> -->
	<p class="content_info">Год рождения: {{age|date:"Y"}} </p>
	<p class="content_info">Хобби:
	{% if hobby %}
		{% for item in hobby %}
		{{item}}
	{%endfor%}
	{%else%}
		<p class="content_info">Нету время для хобби</p>
	{% endif %}

	</p>
{% endblock %}
