<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Клевый сайт</title>
	<link rel="stylesheet" href="/static/css/normalize.css">
	<!-- <link href="/static/css/css/bootstrap.min.css" rel="stylesheet"> -->
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>



	<div class="container">
		<div class="header">
		<ul class="list">
				<li><div class="menu"><a href="/study">Учеба</a></div class="menu"></li>
				<li><div class="menu"><a href="/work">Работа</a></div></li>
				<li><div class="menu"><a href="/bonus">Бонус</a></div></li>
		</ul>	

		<h1>Добро пожаловать на хитовый сайт!</h1>
		<!-- <p>Привет! Это мой личный сайт:)</p> -->
		</div>
		<div class="content">
			<div class="foto"><img src="/static/img/Its_me.png" alt="Упс" title="Фото"></div>
			<p>Информация:Приходько Владимир Алексеевич 1988 года рождения<br>
			<hr>
			<p>Хобби: Программирование, радиодело, занятие спортом </p>
		</div>
		<div class="clr"></div>
	</div>
	<div class="footer">
		<div class="icon">
			<img src="/static/img/facebook.png" alt="facebook" title="Facebook">
			<img src="/static/img/twitter.png" alt="twitter" title="Twitter">
			<img src="/static/img/youtube.png" alt="youtube" title="Youtube">
			<img src="/static/img/pinterest.png" alt="pinterest" title="Pinterest">
			<img src="/static/img/insta.png" alt="instagram" title="Instagram">
		</div>
		<p>&#169; &laquo;Все права защищены&#187;</p>
		
	</div>







</body>
</html>