{% extends "base.html" %}
{% load staticfiles %}

{% block menu %}
	<li><div class="menu"><a href={% url "index" %}>Главная</a></div class="menu"></li>
	<li><div class="menu"><a href={% url "work" %}>Работа</a></div></li>
	<li><div class="menu"><a href={% url "bonus" %}>Бонус</a></div></li>
{% endblock %}

{% block content %}
	
	{% if where %}
		<div class="foto"><img src = "{% static 'img/dgtu.jpg'%}" alt="Упс" title="Университет"></div>
		<p class="content_info">Окончил {{where}} в {{when.year}} году по специальности: "{{what}}" </p>
	{%else%}
		<span class="content_info">Нигде не учился</span>
	{% endif %}
	
{% endblock %}	




