{% extends "base.html" %}
{% load staticfiles %}

{% block menu %}
	<li><div class="menu"><a href={% url "index" %}>Главная</a></div class="menu"></li>
	<li><div class="menu"><a href={% url "work" %}>Работа</a></div></li>
	<li><div class="menu"><a href={% url "bonus" %}>Бонус</a></div></li>
{% endblock %}

{% block content %}
	<div class="foto"><img src = "{% static 'img/dgtu.jpg'%}" alt="Упс" title="Фото"></div>
	<p class="content_info">Окончил ДГТУ в 2016 году по специальности:<br> "Автоматизация технологических процессов и производств" </p>
{% endblock %}	




