<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Клевый сайт</title>
	<link rel="stylesheet" href="/static/css/normalize.css">
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
	<div class="container">
		<div class="header">
			<ul class="list">
					<li><div class="menu"><a href="/">Главная</a></div class="menu"></li>
					<li><div class="menu"><a href="/study">Учеба</a></div></li>
					<li><div class="menu"><a href="/bonus">Бонус</a></div></li>
			</ul>	

			<h1>Моя будущая работа</h1>
			<!-- <p>Подробнее об работе...</p> -->
		</div>
		<div class="content">
			<div class="foto"><img src="/static/img/work.jpg" alt="Упс" title="Фото"></div>
		</div>
		<div class="clr"></div>
		</div>
		<div class="footer">
		<div class="icon">
				<img src="/static/img/facebook.png" alt="facebook" title="Facebook">
				<img src="/static/img/twitter.png" alt="twitter" title="Twitter">
				<img src="/static/img/youtube.png" alt="youtube" title="Youtube">
				<img src="/static/img/pinterest.png" alt="pinterest" title="Pinterest">
				<img src="/static/img/insta.png" alt="instagram" title="Instagram">
			</div>
			<p>&#169; &laquo;Все права защищены&#187;</p>
			
	</div>

</body>
</html>