{% extends "base.html" %}
{% load staticfiles %}

{% block menu %}
	<li><div class="menu"><a href={% url "index" %}>Главная</a></div class="menu"></li>
	<li><div class="menu"><a href={% url "study" %}>Учеба</a></div></li>
	<li><div class="menu"><a href={% url "bonus" %}>Бонус</a></div></li>
{% endblock %}

{% block content %}
	<div class="foto"><img src = "{% static 'img/work.jpg'%}" alt="Упс" title="Фото"></div>
	<p class="content_name">Места моей будущей работы </p>
	<ul>
	{% if place_work %}
		{% for work in place_work %}
		<li class="content_info">{{work}}</li>
	{%endfor%}
	{%else%}
		<p class="content_info">Неопределился с будущей работой</p>
	{% endif %}
	</ul>
{% endblock %}	

		